# Data Transformation 

Next, we will begin transforming our dataset by dropping values. Our primary goal of this process is to:

* drop rows with missing data
* drop select columns with overwhelmingly missing data

In [4]:
import pandas as pd
import numpy as np

In [8]:
# Load `data/raw/Diabetes/diabetes_data_upload.csv` as a pandas dataframe

df = pd.read_csv('C:/Users/deema/Desktop/Weightloss-Drugs/Weightloss-Drugs-and-Their-Impact-on-Diabetes/data/raw/Diabetes/diabetes_012_health_indicators_BRFSS2015.csv')


#Make a back up copy of the Original Data Frame
dfbak_copy = df.copy()

In [9]:
#Print out the shape of this dataframe for better clarity

print(df.shape)

(253680, 22)

In [10]:
#Display how many null values are in each column of this dataframe

df.isna().sum()

Diabetes_012            0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
HeartDiseaseorAttack    0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
AnyHealthcare           0
NoDocbcCost             0
GenHlth                 0
MentHlth                0
PhysHlth                0
DiffWalk                0
Sex                     0
Age                     0
Education               0
Income                  0
dtype: int64

In [7]:
# Dropped and transformed the columns, drop the remaining rows that contain missing values


df.drop('HighChol', axis=1, inplace=True)

print(df)

KeyError: "['column_to_drop'] not found in axis"

In [10]:
# TODO: display how many null values are in each column of this dataframe
# validate that each column has no missing values

print(new_df10.isna().sum())

Age                      0
Gender                   0
Item Purchased           0
Purchase Amount (USD)    0
Location                 0
Size                     0
Color                    0
Season                   0
Review Rating            0
Shipping Type            0
Promo Code Used          0
Previous Purchases       0
Payment Method           0
dtype: int64

In [11]:
# TODO: print out the shape of this dataframe and verify that the shape is "(3158, 13)"

print(new_df10)

       Age  Gender Item Purchased  Purchase Amount (USD)      Location Size  \
2     31.0    Male       Leggings              24.231704        Nevada    M
4     38.0    Male     Sunglasses              36.545487        Oregon    S
5     26.0    Male       Leggings              23.595139        Nevada   XL
6     43.0    Male          Dress              34.079015    California    M
7     29.0    Male         Shorts              23.796439     Minnesota    M
...    ...     ...            ...                    ...           ...  ...
3894  39.0    Male  Running Shoes              55.636680        Kansas    L
3895  43.0  Female     Sunglasses              61.610602      Colorado    S
3896  37.0    Male        Pajamas              44.600556        Alaska    S
3898  39.0    Male         Hoodie              45.343778      Illinois    S
3899  21.0  Female         Gloves              49.439181  North Dakota    M

             Color  Season Review Rating   Shipping Type Promo Code Used  \
2      Terra cotta  Winter           4.0        Standard              No
4        Aubergine  Summer       Missing        Standard              No
5            Brown  Winter       Missing        Standard              No
6      Terra cotta    Fall           5.0        Standard              No
7         Lavender  Summer           2.0         Express              No
...            ...     ...           ...             ...             ...
3894         White  Summer       Missing  2-Day Shipping             Yes
3895  Burnt orange    Fall       Missing  2-Day Shipping             Yes
3896     Aubergine  Winter           4.0  2-Day Shipping             Yes
3898     Brick red    Fall       Missing  2-Day Shipping             Yes
3899     Aubergine  Winter           4.0  2-Day Shipping             Yes

      Previous Purchases Payment Method
2                      0    Credit Card
4                      0    Credit Card
5                      3    Credit Card
6                      0    Credit Card
7                      0    Credit Card
...                  ...            ...
3894                  11          Venmo
3895                   7          Venmo
3896                  20          Venmo
3898                   3          Venmo
3899                   2          Venmo

[3158 rows x 13 columns]

In [12]:
# TODO: print out the first 5 rows of this dataframe for validation

print(new_df10.describe)

<bound method NDFrame.describe of        Age  Gender Item Purchased  Purchase Amount (USD)      Location Size  \
2     31.0    Male       Leggings              24.231704        Nevada    M
4     38.0    Male     Sunglasses              36.545487        Oregon    S
5     26.0    Male       Leggings              23.595139        Nevada   XL
6     43.0    Male          Dress              34.079015    California    M
7     29.0    Male         Shorts              23.796439     Minnesota    M
...    ...     ...            ...                    ...           ...  ...
3894  39.0    Male  Running Shoes              55.636680        Kansas    L
3895  43.0  Female     Sunglasses              61.610602      Colorado    S
3896  37.0    Male        Pajamas              44.600556        Alaska    S
3898  39.0    Male         Hoodie              45.343778      Illinois    S
3899  21.0  Female         Gloves              49.439181  North Dakota    M

             Color  Season Review Rating   Shipping Type Promo Code Used  \
2      Terra cotta  Winter           4.0        Standard              No
4        Aubergine  Summer       Missing        Standard              No
5            Brown  Winter       Missing        Standard              No
6      Terra cotta    Fall           5.0        Standard              No
7         Lavender  Summer           2.0         Express              No
...            ...     ...           ...             ...             ...
3894         White  Summer       Missing  2-Day Shipping             Yes
3895  Burnt orange    Fall       Missing  2-Day Shipping             Yes
3896     Aubergine  Winter           4.0  2-Day Shipping             Yes
3898     Brick red    Fall       Missing  2-Day Shipping             Yes
3899     Aubergine  Winter           4.0  2-Day Shipping             Yes

      Previous Purchases Payment Method
2                      0    Credit Card
4                      0    Credit Card
5                      3    Credit Card
6                      0    Credit Card
7                      0    Credit Card
...                  ...            ...
3894                  11          Venmo
3895                   7          Venmo
3896                  20          Venmo
3898                   3          Venmo
3899                   2          Venmo

[3158 rows x 13 columns]>

In [13]:
# TODO: write this newly transformed dataset to the `data/processed` folder. Name it "shopping_cleaned.csv" 
# Be sure to not include an additional index when writing this csv file
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

#Need to check the Newly Created Data set  of <new_df_SampleSz> NEW NAME" "Shopping_Cleaned.CSV"

new_df10.to_csv('shopping_cleaned.csv', index=False)

In [ ]:
#This is EXTRA
#Setting up MSExcel to open
%pip install openpyxl

In [ ]:
# This is Extra... I was just trying to see the differences of some previous df that I created
import pandas as pd
# Load the two .csv files
df1 = pd.read_csv('C:/Users/deema/Desktop/Lab4/shopping-behavior/data/raw/shopping.csv')
df2 = pd.read_csv('C:/Users/deema/Desktop/Lab4/shopping-behavior/data/processed/shopping_cleaned.csv')

# Ensure that the data is sorted in the same way
df1 = df1.sort_values(by=list(df1.columns)).reset_index(drop=True)
df2 = df2.sort_values(by=list(df2.columns)).reset_index(drop=True)

# Compare the two dataframes and get a third dataframe with True/False values
df_diff = df1.eq(df2)

# Print out the differences
print(df_diff)